@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400&display=swap');
.reveal {
  font-family: 'Titillium Web';
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Titillium Web' ;
}

body {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #f6faff 48%, #6BBBFF 100%);
}
